[submodule "turbin3-solana-cohort-prereq-task-airdrop"]
	path = turbin3-solana-cohort-prereq-task-airdrop
	url = https://github.com/emreozenses/turbin3-solana-cohort-prereq-task-airdrop
[submodule "rust_task"]
	path = rust_task
	url = https://github.com/emreozenses/rust_task
